.tienda{
    background-image: url(../IMG/spacedarkness.jpg);
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-top: 2px rgb(0, 0, 32) solid;
    
    
    width: 100%;
    
    & h1{
        font-size: 40px;
        color: white;
        text-align: center;
        line-height: 2;
    }
    & h2{
        font-size: 40px;
        color: white;
        text-align: center;
        line-height: 4;
    }
.card-container{
    width: 100%;
    max-width: 1300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;





    .card1{
        width: 330px;
        height: 450px;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.616);


        & img{
            width: 330px;
            height: 250px;
        }
        & h3 a{
            color: white;
            text-decoration: none;
        }
        & p{
            color: white;
        }
    }
}


.secciones-tienda{
    display: flex;
    flex-direction: column;
    align-items: center;



    .itemsub{
        line-height: 1.3;
        padding: 0 2em;
        list-style: none;
        position: relative;
        margin: 1em;


        & a {
            color: white;
            font-style: none;
            text-decoration: none;
            font-size: 30px;
        }
     

    }

        .itemsub::before{
            content: "";
            display: block;
            height: 3px;
            width: 0;
            background: white;
            position: absolute;
            bottom: 0;
            transition: all .3s;
        }
        .itemsub:hover::before{
            width: 100%;
        }

        .centro::before{
            left: 50%;
        }
        .centro:hover::before{
            left: 0;
        }


}





}