.fondo-maximo{
    background: rgb(147,182,255);
    background: radial-gradient(circle, rgba(147,182,255,1) 0%, rgba(0,10,41,1) 94%);
    height: 100%;
    width: 100%;
    

    & h1{
        color: white;
        text-align: center;
        line-height: 3;
        padding-top: 10vh;
        text-decoration: underline white;
        text-shadow: 0px 0px 20px black;
    }
    .cont-img-map{
        width: 100%;
        height: auto;
        padding: 40px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        
        & img{
            width: 100%;
            height: 100%;
            border-radius: 50px;
            box-shadow: 0px 0px 20px 5px black;
            filter: brightness(50%); /*para poner mas de un filtro hay que colocarlos uno al lado del otro y sin coma */
            

        }

        .cont-img-h2{
            position: absolute;
            padding: 80px;
            opacity: 0;
            transition: all .5s;
            cursor: pointer;
           
            

            


            & h2{
                font-size: 5vw; /* agregar vw o vh en vez de px en el font size te ayuda con la parte responsive, tambien jugar con el padding */
                color: white;
                text-shadow: 0px 0px 20px white;
                text-align: center;


            }

        }
        .cont-img-h2:hover {
            opacity: 1;
        }


    }

    .maps-container{
        display: flex;
        flex-direction: column;
        



        .mapa1{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 10vh;
            .texto-mapa1{
                width: 40vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                & h2{
                    font-size: 40px;
                    color: white;
                    text-align: center;
                }
                & p{
                    font-size: 20px;
                    color: white;
                    text-align: center;
                }
            }
            .map-edit{
                overflow: hidden;
                margin: 5px;
                & iframe{
                    border-radius: 10px;
                    width: 40vw;
                    height: 40vh;
                }
            }
        }
        .mensaje-final{
            & h2{
                color: white;
                font-size: 30px;
                text-align: center;
                line-height: 3;
                margin: 10vh 0;
                text-shadow: 0px 0px 20px black;
            }
        }
    }







}